     .carousel-indicators li {
         background-color: rgba(210, 16, 235, 0.5);
     }
     
     .carousel-indicators .active {
         background-color: #fff;
     }
     
     .carouselPadding-0 {
         padding: 0;
     }
     
     .carousel-control-next-icon,
     .carousel-control-prev-icon {
         height: 50px;
         width: 50px;
     }
     
     .slideColor {
         color: rgba(14, 204, 7, 0.966);
     }
     
     .imgHW {
         width: 100px;
         height: 113px;
     }
     
     .p-0 {
         padding: 100px;
         margin: 20px 70px;
     }